.venv/
__pycache__/
.pytest_cache/
*.pyc
build/
dist/
*.spec
.DS_Store
.git/
*.app/
*.zip
*.log
.env
.env.*
!.env.example
work/
outputs/
*.fits
*.fit
*.fts
*.fits.gz
*.fit.gz
*.fts.gz
*.fits.fz
*.fit.fz
*.fts.fz
